/* -- import Roboto Font ---------------------------- */
@import url(http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400);
/* ----------------------------------------------- */

a {
    text-decoration: none;
    color: #00BCD4;
}
a:visited{
    color: #00BCD4;
}
a:hover{
    color: #4DD0E1;
}
body{
	margin: 0px;
	padding: 0px;
    float: left;
}
.border-setup {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
div .box {
    box-sizing:border-box;
    float: left;
}
.color-alert{color: #FF6855}
.color-warning{color: #FFCA55}
.color-success{color: #A9F9C8}
.color-info{color: #B8E8FD}

.fxlarge{font-size: 64px; font-family: 'Roboto','sans-serif'; font-weight: 300}
.flarge{font-size: 42px; font-family: 'Roboto','sans-serif'; font-weight: 300}
.fmedium{font-size: 24px; font-family: 'Roboto','sans-serif'; font-weight: 300}
.fsmall{font-size: 18px; font-family: 'Roboto','sans-serif'; font-weight: 300}
.fxsmall{font-size: 9px; font-family: 'Roboto','sans-serif'; font-weight: 300}

.btn{
    display: inline-block;
      position: relative;
      width: 150px;
      height: 30px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.8em;
      top: -2px;
      background-color: #fff;
      color: #FFF;
}
.btn-sm{
    float: right;
    margin: 6px 4px 0px 0px;
    width: 24px;
    height: 24px;
	font-size: 15px;
	padding: 5px;
	line-height: 15px;
}
.btn[disabled],.btn[disabled]:hover{
	background: #E0E0E0;
	color: #ABABAB;
	cursor: default;
}
.btn-alert{background: #FF8A77; border: 1px;}
.btn-alert:hover{background: #FFAC99; border: 1px;}

.onRepeat{
  display: inline;
  float: left;
  position: relative;
  margin: 0px 365px 8px 7px;
  width: 80px;
  height: 30px;
  line-height: 16px;
  border-radius: 2px;
  font-family: 'Roboto';
  font-size: 1em;
  border: 0;
  background: #81D4FA;
  color: #FFF;
}
.onRepeat:hover{
  background: #B3E5FC;
  cursor: pointer;
}
.onRepeat.active:hover{
  background: #A9FAAA;
}
.onRepeat.active{
    background: #A9EABA;
}
.onRepeat[disabled],.onRepeat[disabled]:hover{
	background: #E0E0E0;
	color: #ABABAB;
	cursor: default;
}

/*Intensity Status*/
#intensity{
    height: 40px;
    float: right;
    position:relative;
    margin: -64px 32px 0px 0px;
}
#intensityStatus{
    font-size: 22px;
    font-family: 'Roboto','sans-serif';
    font-weight: 300;
    border-color: #555;
    padding: 2px 6px 2px 6px;
}

.time-select{
	padding: 5px;
	font-size: 18px; font-family: 'Roboto'; font-weight: bolder;
}

.hide{
	display: none;
}

.grid{
	position: relative;
	overflow: hidden;
}
.grid .grid-left{
	width: 48%;
	position: relative;
	text-align: center;
	display: inline-block;
	float: left;
}
.grid .grid-right{
	width: 48%;
	position: relative;
	text-align: center;
	display: inline-block;
	float: right;
}

.plus-sign{
  color: #fff;
  font-size: 42px;
  font-family: 'Roboto','sans-serif';
  font-weight: 300;
  position: relative;
  top: -26px;
  left: 18px;
}
#banner{
    position: relative;
	width: 100%;
    max-width: 565px;
    min-height: 100px;
	height: auto;
	background: #3F51B5;
	padding: 0px;
	position: relative;
	margin: 0 auto;
    float: left;
}
#container{
	width: 100%;
    max-width: 565px;
	height: auto;
    min-height: 650px;
	background: #EEEEEE;
	padding: 5px;
	position: relative;
    float:left;
	margin: 0 auto;
}
#title{
    background-color: #3F51B5;
    color: #FFF;
    padding-top: 3.5%;
	margin: 0px 0px 0px 0px;
	text-align: left;
}
#description{
	margin: 5px 0px;
	text-align: center;
}
#status{
	border: 5px solid #FFF;
	text-align: center;
	padding: 10px;
}

/*Images for Cards*/

div.image{
  float: left;
  margin: 10px 15px 10px 10px;
  height: 70px;
}

div.image:hover{
  background-color: rgba(10,20,55,0.15);
  cursor: pointer;
}

div.image.img1{
  content: url("./images/clock4.png");
}

div.image.img2{
  content: url("./images/eye106.png");   
}

div.image.img3{
  content: url("./images/chocolate5.png");   
}

div.image.img4{
  content: url("./images/water42.png");   
}

div.image.img5 {
  content: url("./images/user91.png");   
}

div.image.img6 {
  content: url("./images/stretching1.png");   
}

div.image.img7 {
  content: url("./images/walker.png");
  width: 70px;
  /*Resize Image Later*/
}

div.image.img8 {
  content: url("./images/calendar146.png");   
}

div.image[disabled], div.image[disabled]:hover {
  background: #e0e0e0;
  background-color: none;
  cursor: default;  
}

/*Floating Action Button*/
#fab {
  position: absolute;
  left: 462px;
  top: 395px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: #FFC107;
}

#fab:hover {
    cursor: pointer;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
    fill: #fff;
}

#fab:active {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
  background-color: #FFD329;
}

#fab[disabled], #fab[disabled]:hover, #fab[disabled]:active {
  background: #e0e0e0;
  cursor: default;
}

/*CSS Switch*/
.label {
  float: right;
  width:100px;
  height:30px;
  background:#4FC3F7;
  box-shadow: inset 0 0 0 15px #AFAFAF;
  border-radius:25px;
  display:block;
  top: 3px;
  position:relative;
  z-index:1;
  transition:all 300ms ease-in 0s;
}
.label:hover {
    cursor: pointer;
}
#switch {
  float: right;
  top:0px;
  right:37px;
  position:relative;
}
#switch:hover {
  cursor: pointer;
}
#switch:before {
  content:"";
  position:relative;
  top:-5px;
  left:-72px;
  height:40px;
  width:40px;
  border-radius:50%;
  display:block;
  background:#4FC3F7;
  border:none;
  z-index:2;  
  box-shadow:inset 0 0 0 20px #AFAFAF,0 0 3px 0 #000;
  transition:box-shadow 500ms ease-in 0s, left 300ms ease-in 0s;
}
#switch:checked:before {
  left:0px;
  box-shadow:inset 0 0 0 0 #4FC3F7,0 0 3px 0 #000;
}
#switch:checked + label {
  box-shadow: inset 0 0 0 0 #AFAFAF;
}

/*Slider*/
input[type=range].dSlider {
  -webkit-appearance: none;
  width: 60%;
  margin: 0px 10px 20px 15px;
}
input[type=range].dSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.0px;
  cursor: pointer;
  box-shadow: 1px 1px 0.5px #BBBBBB, 0px 0px 1px #888888;
  background: #81D4FA;
  border-radius: 1.8px;
  border: 0.5px solid #999999;
}
input[type=range].dSlider::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px #999999, 0px 0px 0.9px #999999;
  border: 1.8px solid #BBBBBB;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #81D4FA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.9px;
}
input[type=range].dSlider:focus::-webkit-slider-runnable-track {
  background: #A2D4FA;
}
input[type=range].dSlider[disabled]::-webkit-slider-runnable-track, input[type=range].dSlider[disabled]::-webkit-slider-thumb{
	background: #E0E0E0;
	color: #ABABAB;
	cursor: default;
}

/* Card Styles */
.card{
  margin: 10px;
  border: 0.7px solid;
  border-color: #ABABAB;
  background-color: #FFF;
  border-radius: 2px;
  overflow: hidden;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.26);
}

.cardType{
  font-size: 20px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin: 25px 12px 0px 10px;
}

select{
  margin: 20px 15px 20px 0px;
  width: 90px;
}

.cardMinute{
  display: inline-block;
  text-align: left;
  position: relative;
  margin: 25px 0px 0px 0px;
}

input[type=range].dSlider.cardSlider{
    width:70%;
    margin: 15px 35px 25px 25px;
    float: right;
}